@model IEnumerable<scaffolding_1.Models.Bedrohung>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agressor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Held)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agressor.AgressorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Held.HeldId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BedrohungId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BedrohungId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BedrohungId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
